appdirs
apscheduler
click
flask
flask-restx
Flask-Cors
h5py
imageio
itsdangerous
Jinja2
joblib
keras
MarkupSafe
numpy
opencv-python
pandas
packaging
protobuf
pyparsing
Pillow
pymysql
sklearn
scikit-learn==1.0.2
six
sqlalchemy
tensorflow
werkzeug==2.1.2
Werkzeug