Flask
numpy
scikit-learn
pandas
flask-restx
werkzeug==2.1.2
appdirs
click
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging
protobuf
pyparsing
six
tensorflow
Werkzeug
Pillow
keras
h5py
imageio
opencv-python